<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pokémon API - PKMNAPI</title>
  <link rel="icon" type="image/png" href="favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
  <div class="navbar">
    <h1>Pokémon API - PKMNAPI ! </h1>
    <a href="https://github.com/AntoninJoulie/NodeJs#readme">
      <img class="github" src="./img/github.svg" alt="github">
    </a>
  </div>
  <img class="logo" src="./img/pokeball.svg" alt="pokeball">
  <h2>Essayez une recherche ! </h2>
  <p>Toutes les données Pokémon que vous avez toujours souhaitées : Dresseur, Pokémon, Region</p>
  <div class="group-input">
    <span id="url"><%= url %></span>
    <input id="input" placeholder="trainer/1"></input>
    <button class="btn" onclick="get()">GET</button>
  </div>

  <pre id="body">

  </pre>

</body>
<script type="text/javascript" src="js/script.js"></script>


</html>